$red: #e50914;

body {
	font-family: 'Lato', sans-serif;
	font-weight: light;
	background: #141414;
	color: #fff;
	text-decoration: none;
}

.header {
	font-family: 'Bahiana', cursive;
	color: $red;
	display: flex;
	align-items: flex-start;
	padding: 0 2rem;
}

li {
	list-style-type: none;
}

.home,
.completed,
.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 70vh;
}

button {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9rem;
	letter-spacing: 0.1rem;
}

.btn {
	color: #000;
	background: #fff;
	padding: 0.5rem 1.2rem;
	margin: 1rem 0.5rem;
	border: none;
	&:hover {
		color: #fff;
		background: $red;
	}
}

.no-click {
	opacity: 0.4;
	&:hover {
		color: #000;
		background: #fff;
	}
}

.back-arrow {
	color: #fff;
	font-size: 2rem;
	display: flex;
	align-items: flex-start;
	padding: 1rem 3rem;
	transition: 0.2s all ease;
	&:hover {
		opacity: 0.9;
		transform: scale(1.2);
	}
}

.page-title {
	text-align: center;
	margin: auto;
	margin-top: 6rem;
}

ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 00px;
}

.alert {
	margin: auto;
	padding: 0;
	.error-symbol {
		position: relative;
		top: 3px;
		margin-right: 5px;
	}
}

//-----HOME-----
.home {
	h1 {
		font-size: 3rem;
	}
}

// ----------USERS PAGE----------

.users {
	form {
		input[type='text'] {
			padding: 0.4rem 0.5rem;
		}
		button {
			padding: 0.5rem 1.2rem;
		}
	}
}

.users-grid {
	padding: 2rem;
	display: grid;
	// grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: column;
	justify-content: center;
	gap: 1rem;
}

.delete-button {
	transition: transform 0.2s ease;
	display: inline-block;
	z-index: 2;
	&:hover {
		transform: scale(1.2) rotate(90deg);
	}
}

.user {
	position: relative;
	width: 100px;
	margin-bottom: 1.5rem;
	height: 100px;

	.name {
		position: relative;
		bottom: 10px;
		text-transform: capitalize;
	}

	.delete-button {
		position: relative;
		right: -36px;
		top: 5px;
	}

	.is-eating-true {
		top: -20px;
		position: relative;
		width: 100%;
		height: 100%;
		opacity: 1;
		// background: $red;
		// border: 2px white solid;
		transition: 0.4s ease all;
		&:hover {
			transform: scale(1.05);
		}
	}
	.is-eating-false {
		position: relative;
		top: -20px;
		width: 100%;
		height: 100%;
		// background: $red;
		opacity: 0.4;
		// border: 2px white solid;
		transition: 0.4s ease all;
		&:hover {
			transform: scale(1.05);
		}
	}
}

//-------- ORDERS PAGE ------
.orders-list {
	margin: auto;
	padding-right: 0.5rem;
}
.order {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 400px;
	margin: 2rem auto;
	padding-bottom: 0rem;
	gap: 3rem 0rem;
	align-items: center;
	justify-content: center;
	.name {
		text-transform: capitalize;
		margin-bottom: 0rem;
	}

	.pic-and-name {
		position: relative;
		top: 15px;
	}

	.order-and-button {
		display: flex;
		flex-direction: row;
	}

	.current-order {
		display: grid;
		justify-content: left;
		align-items: center;
		text-transform: capitalize;
		text-align: left;
	}
}

.edit {
	// width: 100%;
	width: 27px;
	height: 50px;
	padding: 5px 15px;
	margin: auto;
	font-size: 0.5rem;
	border-radius: 100px;
	margin-left: 4rem;
	margin-top: 0.7rem;
}

//----MENU---------
.name {
	text-transform: capitalize;
}

.menu {
	.side-order {
		padding: 1rem;
		padding-top: 4rem;
		position: fixed;
		right: 0;
		top: 0;
		border-left: red solid 3px;
		background: rgba($color: #000000, $alpha: 0.8);
		height: 100vh;
		width: 100px;
		margin: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		max-width: 15rem;
		z-index: 1;
		overflow: hidden;
		transition: 0.3s ease all;
		&:hover {
			width: 300px;
			.ordered-item {
				margin-left: 0rem;
			}
			.user-order-total {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.pic-and-name {
		img {
			width: 80px;
		}
		margin-bottom: 2rem;
		.name {
			text-decoration: none;
		}
	}

	.ordered-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 200px;
		margin-left: 3rem;
		transition: 0.3s ease all;
		.delete-button {
			padding-left: 0rem;
			display: flex;
			align-items: flex-start;
		}
		p {
			margin: 0;
		}
		.name {
			width: 100%;
			padding: 0.5rem 0.7rem;
			display: flex;
			align-items: flex-start;
			text-align: left;
			opacity: 1;
		}
	}
	.current-order {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
	.user-order-total {
		visibility: hidden;
		opacity: 0;
		transition: visibility 0s, opacity 0.3s linear;
		border-top: #fff dotted 2px;
		margin: 0.8rem;
		margin-right: 0rem;
		padding-top: 1rem;
		width: 200px;
		text-align: right;
		transition: 1s ease all;
	}
	.order-and-total {
		margin-top: 0.5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	// .delete-button {
	// 	position: relative;
	// 	top: 2px;
	// 	padding: 0 0.3rem;
	// }

	.menu-items {
		text-decoration: none;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem 0rem;
		padding: 0 1rem;
		margin: 0 auto;
		max-width: 650px;
		.menu-item {
			background-image: linear-gradient(to bottom, #111, #555);
			width: 200px;
			overflow: hidden;
			cursor: pointer;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: center;
			text-transform: capitalize;
			transition: 0.3s all ease;
			&:hover {
				transform: scale(1.05);
			}
			.details {
				height: 40px;
				display: flex;
				align-items: center;
				justify-content: center;
				h3 {
					text-decoration: none;
				}
			}
		}
		.price {
			margin-left: 0.5rem;
		}
	}
}

.menu-img {
	height: 180px;
	width: 200px;
	overflow: hidden;
	object-fit: cover;
}

//------- SUMMARY -------
.sum-item {
	margin: 0.5rem auto;
	display: flex;
	text-transform: capitalize;
	justify-content: space-between;
	max-width: 400px;
	padding: 0 1rem;
	border-bottom: 2px grey dotted;
	.name {
		margin: 0;
		margin-top: 0rem;
		margin-bottom: 01rem;
		text-align: left;
		font-size: 1.5rem;
	}
	p {
		text-align: right;
		max-width: 200px;
		margin: 0;
	}
	li {
		display: flex;
		justify-content: flex-end;
		align-self: flex-end;
		margin-bottom: 0.7rem;
	}
	.price {
		margin-left: 1rem;
	}
}

.final-money {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	max-width: 400px;
	text-align: right;
	margin-bottom: 2rem;
}

.final-item {
	display: grid;
	grid-template-columns: 1fr 0.3fr;
	gap: 0.5rem;
	justify-content: flex-end;
	align-items: center;
	h2,
	h4 {
		margin: 0.5rem 0;
	}
}
